name: Submodule push
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy to OpenShift
    runs-on: ubuntu-latest

    steps:
    - name: OpenShift Client Installer
      uses: redhat-actions/oc-installer@v1.2
          
    - name: Log in to OpenShift
      env:
        OPENSHIFT_API_URL: ${{ secrets.OPENSHIFT_API_URL }}
        OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
      run: |
        oc login $OPENSHIFT_API_URL --token=$OPENSHIFT_TOKEN --insecure-skip-tls-verify=true
    - name: Set project to agile-2025-labs
      run: |
        oc project msc-agile-sem1-25-omaccarthyhalpin
    - name: Build and deploy the app to OpenShift
      run: |
        # OpenShift setup uses Source-to-Image (S2I) 
         oc start-build health-tracker-rest-git --from-dir=target/ --follow
    
    - name: Check deployment status
      run: |
        oc rollout status deployment/health-tracker-rest-git
